<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>-.-</title>

<link rel=stylesheet href="__CSS_PATH__reset.css">
<link rel=stylesheet href="__CSS_PATH__bootstrap-admin.css"> 
<link rel=stylesheet href="__CSS_PATH__global.css"    />
<link rel=stylesheet href="__CSS_PATH__backstage.css"   />

</head>
<body>
<span class="main-title">添加菜类</span>
<span id="main-tip">用户名为空</span>
<div class="form-add">
<form action="/shopadmin/goods/add" id="form1" method="post" enctype="multipart/form-data">
<table  class="table  table-bordered table-hover">
	<tr>
		<td align="right" width="15%"><span class="td-txt">商品名称</span></td>
		<td ><input   width="100px" type="text" name="meal_name"  placeholder="请输入小菜名称"/></td>
	</tr>
	<tr>
		<td align="right"><span class="td-txt">商品分类</span></td>
		<td>
		<select id="cate" name="cid"  class="">
            <option value="" selected='selected' >请选择分类</option>
                {foreach $res as $val}
               <option value="{$val['cid']}" name='1'>{$val['dishes_name']}</option>
                {/foreach}
			
		</select>
		</td>
	</tr>  
	<tr>
		<td align="right"><span class="td-txt">商品价格</span></td>
		<td><input class="" type="text" id="meal_price" name="meal_price"  placeholder="单位（元）"/></td>
	</tr>  
	<tr>
		<td align="right"><span class="td-txt">商品图像</span></td>
		<td> 
            <input class="btn btn-file" type="file" name="meal_pic"/>
		</td>
	</tr>
</table>
<input class="btn btn-primary"  type="submit"  value="发布商品"/>
</form>
</div>

<script src="__JS_PATH__jquery-1.8.3.js"></script>
<!-- <script src="__JS_PATH__fileinput.min.js"></script> -->
<script type="text/javascript">
 $(function(){ 
   $("#form1").submit(function () {
    if(isValid()){ 
        return true;
    }else{ 
        return false;
    }
 });
}); 
 function isValid(){ 
    if($("input[name='meal_name']").val().length<=0){ 
        $("#main-tip").html('商品名称不能为空');
        $("#main-tip").css('display', 'inline-block');
        return false;
    }
  
    if($("#cate option:selected").text()=="请选择分类"){
        $("#main-tip").html('请选择分类');
        $("#main-tip").css('display', 'inline-block');
        return false;
    }
     if($("input[name='meal_price']").val().length<=0){ 
        $("#main-tip").html('价格不能为空');
        $("#main-tip").css('display', 'inline-block');
        return false;
    } 
      if(!isNaN($("#meal_price"))){ 
        $("#main-tip").html('价格必须是数字');
        $("#main-tip").css('display', 'inline-block');
        return false;
    } 
    if($("input[name='meal_pic']").val().length<=0){ 
        $("#main-tip").html('图片不能为空');
        $("#main-tip").css('display', 'inline-block');
        return false;
    }
    $("#main-tip").hide();
    return true;
 }
</script>
</body>
</html>