<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>添加店铺</title>
<script src="__JS_PATH__jquery-1.8.3.js"></script> 
<script src="__JS_PATH__/jquery.cookie.js"></script>

<link rel=stylesheet href="__CSS_PATH__reset.css">
<link rel="stylesheet" href="__CSS_PATH__bootstrap-admin.css"> 
<link href="__CSS_PATH__global.css"  rel="stylesheet"  type="text/css"/>
<link href="__CSS_PATH__backstage.css"  rel="stylesheet"  type="text/css"/>


<style type="text/css">
    td{
        height: 40px;
    }
    img{
        width: 100px;
        height: 100px;
    }
</style>
</head>
<body> 
<span class="main-title">店铺中心</span>
<div id="main-tip"></div>
<div class="form-add">
<!-- <form action="/shopadmin/info/infor" method="post"> -->
<form>
<table class="table  table-bordered table-hover">
    {foreach $res as $val}
       <tr style="height: 100px;">
        <td align="right" width="20%">店铺logo</td>
        
        <td > <img src="{$val['shop_pic']}" alt="..." class="img-thumbnail" ></td>

    </tr>
    <tr>
        <td align="right" width="20%"><span class="td-txt">店铺名称</span></td>
        <td> <input type="text" class="form-control" id="disabledInput" value="{$val['shop_name']}" disabled> </td>
    </tr>


    <input type="hidden" name="shop_id" value="{$val['shop_id']}">
    <tr>
        <td align="right"><span class="td-txt">店铺介绍</span></td>
        <td> <input type="text" class="form-control" id="introduce" name="shop_introduce" value="{$val['shop_introduce']}"> </td>
    </tr> 
    <tr>
        <td align="right"><span class="td-txt">店铺地址</span></td>
        <td> <input type="text" class="form-control" name="shop_addr" id="addr" value="{$val['shop_addr']}"> </td>     
    </tr>
 
     <tr>
        <td align="right"><span class="td-txt">最低起送价</span></td>
        <td> <input type="text" class="form-control" name="shop_dispatch_price" value="{$val['shop_dispatch_price']}"> </td>
    </tr>
     <tr>
        <td align="right"><span class="td-txt">配送费</span></td>
        <td> <input type="text" class="form-control" name="shop_add_price" value="{$val['shop_add_price']}"> </td>
    </tr>
    <tr>
        <td align="right"><span class="td-txt">餐盒费</span></td>
        <td> <input type="text" class="form-control" name="shop_box_price" value="{$val['shop_box_price']}"> </td>
    </tr>
    <tr>
        <td align="right"><span class="td-txt">入驻时间</span></td>
        <td> <input type="text" class="form-control" disabled="" id="time" value="{$val['shop_addtime']}" ></td>
    </tr>  
    {/foreach} 


</table>
<input class="btn btn-primary" type="submit" id="submit" value="保存修改"/>
</form>
</div>
 <!--提示框-->
<div id="alertModel" class="alertModel" style="display: none">
<a id="alert" data-reveal-id="alertModel" data-animation="fade"></a>
<span id="alert-msg"></span>
<button id="btn-ok" class="btn">知道了</button>
<a id="btn-close" class="close-reveal-modal"><img src="__IMG_PATH__/icon_close.png" height="24" width="24"></a>
</div>

</body>  
</html>

<script>

   
$(function() {

  $('#submit').click(function() {
    var d = {};
    var t = $('form').serializeArray();

    $.each(t, function() {
      d[this.name] = this.value;
    });
    // console.log(d);return;
    $.post('/shopadmin/info/infor',
            d,
            function(data){
                
               var res = $.parseJSON(data);
                       if (res.status=='success') {
                         if (res.code=='1') {
                            alert('修改成功');
                            return;
                        }
                        if (res.code=='2') {
                        alert('修改失败');
                            return;
                        }
                    } 
                
            }
        );
    return false;
  });

});

  // 弹出框
function showAlert(msg,url){ 
$("#alert").trigger('click');
$("#alert-msg").html(msg);
 
 if(url){
    $("#btn-ok,#btn-close").click(function(event) {
        window.location.href=url;
    });
 }
    
 }



</script>
