<html>
<head>
<meta charset="utf-8">
<title>订饭组外卖订餐后台管理系统</title> 
<link rel="icon" href="/static/img/logo-50-50.jpg" type="image/x-icon" />
<link rel=stylesheet href="__CSS_PATH__reset.css">
<link rel=stylesheet href="__CSS_PATH__bootstrap-admin.css"> 
<link rel="stylesheet" href="__CSS_PATH__backstage.css">     

<!-- ==========================商家后台管理首页 ================================-->
</head>

<body>
    <div class="head">
            <div class="logo fl" onclick="window.onload"></div>
            <span class="head_text"></span>
    
        <!-- <div class="operation_user clearfix"> -->
            <div class="link fr">
                <b>欢迎您,
                   {$res[0]['shop_tel']}
                </b> &ensp;&ensp;|&ensp;&ensp;
              我的店铺:<a id="info">{$res[0]['shop_name']}</a>
                <a id="logout"  href="/admin/login/login" class="">退出</a>   

            </div>
        <!-- </div> -->
    </div>
    <div class="content clearfix">
        <div class="main">
            <!--右侧内容-->
            <div class="cont">
      	 		<!-- 嵌套网页开始 -->         
                <iframe src="/shopadmin/goods/addpro" id="ifr" frameborder="0" name="mainFrame" width="100%" height="100%" scrolling="yes">
                    
                </iframe>
                <!-- 嵌套网页结束 -->   
            </div>
        </div>
        <!--左侧列表-->
        <div class="menu">
            <div class="cont">
                <ul class="mList">
                    <li>
                        <div class="menu-item-title" onclick="show('menu1','change1')"><span  id="change1" class="menu-item-icon ico-open"></span>
                        <span class="menu-item-name">小菜管理</span>
                        </div>
                        <dl id="menu1" style="display:none;">
                            <dd><a href="/shopadmin/goods/addpro" target="mainFrame">添加小菜</a></dd>
                            <dd><a href="/shopadmin/goods/listpro" target="mainFrame">小菜列表</a></dd>
                        </dl>
                    </li>
                    
                     <li>
                        <div class="menu-item-title" onclick="show('menu2','change2')"><span  id="change2" class="menu-item-icon ico-open"></span>
                        <span class="menu-item-name">菜系管理</span>
                        </div>
                        <dl id="menu2" style="display:none;">
                            <dd><a href="/shopadmin/sort/addCate" target="mainFrame">添加菜系</a></dd>
                            <dd><a href="/shopadmin/sort/listCate" target="mainFrame">菜系列表</a></dd>
                        </dl>
                    </li>

                    <li>
                        <div class="menu-item-title" onclick="show('menu7','change7')">
                        <span  id="change7" class="menu-item-icon ico-open"></span>
                        <span class="menu-item-name">订单管理</span>
                        </div>
                        <dl id="menu7" style="display:none;">
                            <dd><a href="/shopadmin/order/moniterOrder" target="mainFrame" class="">开始接单</a></dd>
                            <dd><a href="/shopadmin/order/listOrder" target="mainFrame">历史订单</a></dd>
                        </dl>
                    </li>
                    <li>
                        <div class="menu-item-title" onclick="show('menu6','change6')">
                        <span  id="change6" class="menu-item-icon ico-open"></span>
                        <span class="menu-item-name">商家中心</span>
                        </div>
                        <dl id="menu6" style="display:none;">
                            <dd><a href="/shopadmin/info/shopinfo" target="mainFrame" class="">销售统计</a></dd> 
                            <dd><a href="/shopadmin/info/info" target="mainFrame" class="">我的店铺</a></dd>
                            <dd><a href="/shopadmin/info/shopState" target="mainFrame" class="">营业状态</a></dd> 
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!--提示框-->
    <div class="modal fade" id="mymodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="btn-close" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 id="alert-title" class="modal-title">标题</h4>
                </div>
                <div class="modal-body">
                    <p id="alert-body">内容</p>
                </div>
                <div class="modal-footer">
                    <button id="btn-ok" type="button" class="btn btn-default" data-dismiss="modal">知道了</button> 
                </div>
            </div>
        </div>
    </div>
  

    <script src="__JS_PATH__jquery-1.8.3.js"></script> 
    <script src="__JS_PATH__bootstrap.min.js"></script> 
    <script src="__JS_PATH__common.js"></script> 
    <script src="__JS_PATH__jquery.cookie.js"></script>
    <script>
        $(function(){
            $('.mList a').click(function(e) { 
                $('.title').text($(this).text());
                $('.mList a').removeClass('active');
                $(this).addClass('active');
            });
            isMSIE();
            
            //轮询查订单
            // setInterval("checkOrder()",5000);
        });
        //展开收缩
    	function show(menu,change){  
	    	      if($("#"+change).hasClass('ico-open')){
                    $("#"+change).removeClass('ico-open');
                    $("#"+change).addClass('ico-close');
                  }else{ 
                    $("#"+change).removeClass('ico-close');
                    $("#"+change).addClass('ico-open');
                  }
        		  //隐藏显示
                  $("#"+menu).toggle();
        }
        //判断浏览器
        function isMSIE(){
            var explorer=navigator.userAgent;
            if(explorer.indexOf("MSIE") >= 0){ 
                alert('请使用Chrome浏览器！');
            }
        }

        //生成html
        function updatePage(){ 
            var postUrl="ajax/updatePage.php";
            $.post(postUrl, 
                '', 
                function(data, status, xhr) {  
                   if(status=="success"){    
                        $res= $.parseJSON(data); 
                        if($res.code=="0"){ // 
                            showAlert("提示","刷新成功");
                        }else if($res.code=="1"){ // 
                            
                        }
                   }else{
                        showAlert("提示","服务器异常，请联系平台人员");
                   }
               });
        }
 
        //检查订单
         function checkOrder(){ 
            var shopId='1002';
            if(!shopId){
                return;
            }
            var requestUrl=""; 

           $.ajax({ url:requestUrl,
                    type:'post',
                    async:true,
                    timeout:3000,
                    success:function(data){ 
                        if(data=="success"){ 
                            playVoice();
                        } 
                    },
                    error:function(data){
                    }
                });
        }

        $("#view").click(function(){
            // 预览我的店铺
            $("#ifr").attr('src','/index/index/index');

        });

        $('#info').click(function(){
             $("#ifr").attr('src','/shopadmin/info/info');
        })
         
    </script>
    
</body>
</html>