<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>-.-</title>

<link rel="stylesheet" href="__CSS_PATH__reset.css">
<link rel="stylesheet" href="__CSS_PATH__bootstrap-admin.css">
<link rel="stylesheet" href="__CSS_PATH__backstage.css">
 <script src="__JS_PATH__jquery-1.8.3.js"></script> 
</head>
<body>
<span class="main-title">商品列表</span>

  <div class="details">
                    <div class="details_operation clearfix">
                        <div class="bui_select">
                         
                        </div>
                        <div class="fr">
                            <div class="text">
                                <span>所属店铺：</span>

                                <div class="bui_select">
                                    <select id="select" class="select form-control" onchange="func()">
                                      <option value="0">全部</option>
                                      {foreach $res1 as $val}
                                       <option value="{$val['shop_id']}" >{$val['shop_name']}</option>
                                       {/foreach} 
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--表格-->
                     <div id="body">
                    <table  class="table  table-hover">
                        <thead>
                            <tr>
                                <th width="5%">商品编号</th>
                                <th width="15%">商品名称</th>
                                <th width="10%">商品分类</th>
                                <th width="20%">所属店铺</th>
                                <th width="10%">价格</th> 
                                <th width="10%">发布时间</th>
                                <th width="15%">商品图像</th>
                                <th width="15%">操作</th>
                            </tr>
                        </thead>
                       
                        <tbody id='b1'>
                            {foreach $res as $val}
                            <tr align="center">
                                <td>{$val['mid']}</td>
                                <td>{$val['meal_name']}</td>
                                <td>{$val['dishes_name']}</td>
                                <td>{$val['shop_name']}</td>
                                <td>{$val['meal_price']}</td> 
                                <td>{$val['create_time']}</td>
                                <td><img src="{$val['meal_pic']}" width="40" height="40" /></td>
                                <td>
                    				<a class="btn btn-link"  onclick="delPro({$val['mid']})">删除</a>
                                </td>
                            </tr>
                            {/foreach}
                           
                      </tbody>
                      <tbody id="b2">
                      </tbody>
                    </table> 
                     <div style="text-align: center" id="p1">{$page}</div>
                </div>
 </div> 
</body>
<script type="text/javascript">
function showDetail(id,t){
	$("#showDetail"+id).dialog({
		  height:"auto",
	      width: "auto",
	      position: {my: "center", at: "center",  collision:"fit"},
	      modal:false,//是否模式对话框
	      draggable:true,//是否允许拖拽
	      resizable:true,//是否允许拖动
	      title:"商品名称："+t,//对话框标题
	      show:"slide",
	      hide:"explode"
	});
}   


    // 删除商品
	function delPro(id){
		if(window.confirm("您确认要删除嘛？添加一次不易，且删且珍惜!")){

            $.post('delpro',
                    {mid:id},
                    function(data){
                       var $res = $.parseJSON(data);
                    if ($res.status=='success') {
                        if ($res.code=='0') {
                             var timer = setTimeout(function(){
                 alert('删除成功');
                 window.location="/admin/goods/listpro";
               },500);
                        } else{
                            alert('删除失败');
                        }
                      
                    }
               })

		}
	}


 function func(){  
     //获取被选中的option标签  
     var id = $('select  option:selected').val(); 
     console.log(id); 
    $.post('/admin/goods/change',
        {shop_id:id},
        function(data){
          console.log(data);
             $("#body").empty();
             $('#body').append(data);
        });
    }
</script>
</body>
</html>