<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script src="__JS_PATH__jquery-1.8.3.js"></script> 
<link rel="stylesheet" href="__CSS_PATH__reset.css">
<link rel="stylesheet" href="__CSS_PATH__bootstrap-admin.css">
<link rel="stylesheet" href="__CSS_PATH__backstage.css">
<style type="text/css">
    td{
        height: 40px;
    }
</style>
</head>
<body>
<div class="details">
                    <div class="details_operation clearfix">
                        <div class="bui_select">
                            <input type="button" value="添加分类" class="btn btn-primary"  onclick="addCate()">
                        </div>
                            
                    </div>
                    <!--表格-->
                    <table class="table table-hover" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th align="center"  width="50%">分类</th>
                                
                                <th align="center" >操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $res as $val}
                             <tr>
                                <td align="center">{$val['dishes_name']}</td>
                               
                                <td align="center"><a class="btn btn-link" onclick="editCate({$val['cid']})">修改</a><a class="btn btn-link"  onclick="delCate({$val['cid']})">删除</a></td>
                            </tr>
                            {/foreach}
                             <tr>
                        </tbody>
                    </table>
                </div>
<script type="text/javascript">

    // 点击后跳转到修改分类页面
	function editCate(id){
		window.location="/shopadmin/sort/editcate/id/"+id;
	}

    // 删除分类
	function delCate(id){
		if(window.confirm("确定要删除吗？"))
        {
            $.post('/shopadmin/sort/delpro',
                {cid:id},
                function(data){
                    var $res = $.parseJSON(data);
                    if ($res.code=='0') {
                        alert('删除成功');
                        window.location="/shopadmin/sort/listcate";
                    } else{
                        alert('删除失败');
                    }
                });
		}
	}

    // 点击后跳转到添加分类页面
	function addCate(){
		window.location="/shopadmin/sort/addCate";
	}
</script>
</body>
</html>